<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-1 mb-3">
  <a class="navbar-brand" href="/">Expense Tracker</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <form method="GET">
        <a class="nav-link" role="button" type="submit" value="2" href="/get-expenses">Expenses</a>
      </form>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/monthly-expenses">Monthly</a>
    </li>
  </ul>
</nav>
