<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body class="container">
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <!-- <form onsubmit="testfunc()" id="expenseForm"> -->
  <form action="/form-post" method="POST" id="expenseForm">
    <div class="form-group">
      <label for="purchaseInput">Purchase</label>
      <input required name="purchaseInputName" type="text" class="form-control" id="purchaseInput" aria-describedby="purchaseInput" placeholder="Enter purchase">
      <small id="purchaseHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class  ="form-group">
      <label for="priceInput">Price</label>
      <input required name="priceInputName" type="number" class="form-control" id="priceInput" placeholder="Price" step="0.01" min="0">
    </div>
    <div class="form-group">
      <label for="monthInput">Month</label>
      <!-- <input name="monthInputName" type="text" class="form-control" id="monthInput" placeholder="Month"> -->
      <select required class="form-select" aria-label="Default select example" name="monthInputName" id="monthInput">
        <option value="">select...</option>
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
    </div>
    <div class  ="form-group">
      <label for="yearInput">Year</label>
      <input required name="yearInputName" type="number" class="form-control" id="yearInput" placeholder="Year" min="1900" max="2999">
    </div>
    <div class="form-group">
      <label for="categoryInput">Category</label>
      <!-- <input name="categoryInputName" type="text" class="form-control" id="categoryInput" placeholder="Category"> -->
      <select class="form-select" aria-label="Default select example" name="categoryInputName" id="categoryInput">
        <option value="">select...</option>
        <option value="Housing">Housing</option>
        <option value="Transportation">Transportation</option>
        <option value="Food">Food</option>
        <option value="Utilities">Utilities</option>
        <option value="Investments">Investments</option>
        <option value="Savings">Savings</option>
        <option value="Personal">Personal</option>
        <option value="Miscellaneous">Miscellaneous</option>
      </select>
    </div>
    <input type="submit" value="Submit">
    <input type="reset">
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </form>
  
</body>
<script>
  const testfunc = () => {
console.log('form values: ', document.querySelector('#purchaseInput').value);
  }
</script>
</html>